// variable couleurs
$black: #37474e;
$grey: #bababa;
$blue: #2020C9;
$orange: #FFAC7C;
$white: #ffffff;
$degrade: linear-gradient(rgba(255, 172, 124, 0.20), rgba(255, 172, 124, 0.20));
$degrade-orange: rgba(247, 172, 124, .3);
$degrade-blue: rgba(32, 32, 201, 0.3);